<div class="subheader grid__item" id="subheader">
    <div class="subheader__main">
        <h3 class="subheader__title">
            Help </h3>
        <span class="subheader__separator hidden"></span>
        <div class="subheader__breadcrumbs">
            <a href="#" class="subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            <span class="subheader__breadcrumbs-separator"></span>
            <a href="" class="subheader__breadcrumbs-link">
                Documentation </a>
            <span class="subheader__breadcrumbs-separator"></span>
            <a href="#" class="subheader__breadcrumbs-link">
                API Docs </a>

        </div>
    </div>
</div>

<div class="content  grid__item grid__item--fluid homeScreen" id="content">

    <div class="portlet faq-v1">
        <div class="portlet__body">
            <div class="row">
                <div class="col-xl-2">
                    <ul class="nav apiDocs" id="nav" role="tablist">
                        <li class="nav__item">
                            <a href="#" class="nav__link">
                                <span class="nav__link-text">User Account</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-10">
                    <h3 style="text-transform: capitalize">
                        <span class="apiTitle"></span>
                        <span class=""></span>
                    </h3>

                        <iframe id="loadApiContent" style="width: 100%;border:0px;overflow: auto;min-height:2500px;"></iframe>
                </div>
            </div>
        </div>
    </div>
    


</div>



<script src="/controllers/documentation.js"></script>