<div class="subheader   grid__item" id="subheader">
    <div class="subheader__main">
        <h3 class="subheader__title">
           <i class="fa fa-flag"></i> Welcome to Boodskap IoT Platform! <small>Let's start building your IoT Solutions on the fly.</small>
        </h3>
    </div>
    <div class="subheader__toolbar">
        <div class="subheader__wrapper">
        </div>
    </div>
</div>

<div class="content  grid__item grid__item--fluid homeScreen" id="content">

    <div class="row">
        <div class="col-xl-12">
            <div class="portlet portlet--height-fluid portlet--mobile ">
                <div class="portlet__body portlet__body--fit">

                    <div class="grid-nav grid-nav--skin-light">
                        <div class="grid-nav__row">
                            <a href="#" class="grid-nav__item">
                                    <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Marketplace</span>
                            </a>
                            <a href="/message-definition" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Message Definition</span>
                                <span class="grid-nav__desc">Developer Module</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">DSQL Tables</span>
                                <span class="grid-nav__desc">Developer Module</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">DB Tables</span>
                                <span class="grid-nav__desc">Developer Module</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">User Management</span>
                                <span class="grid-nav__desc">Administration</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">File Storage</span>
                                <span class="grid-nav__desc">Utility</span>
                            </a>
                        </div>
                        <div class="grid-nav__row">
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Dashboard Editor Studio</span>
                                <span class="grid-nav__desc">Developer Module</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Record Definition</span>
                                <span class="grid-nav__desc">Developer Module</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">DSQL Templates</span>
                                <span class="grid-nav__desc">Developer Module</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">DB Templates</span>
                                <span class="grid-nav__desc">Developer Module</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Device Management</span>
                                <span class="grid-nav__desc">Administration</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Event Logs</span>
                                <span class="grid-nav__desc">Utility</span>
                            </a>
                        </div>
                        <div class="grid-nav__row">
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Mobile Editor Studio</span>
                                <span class="grid-nav__desc">Developer Module</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Events & Notification</span>
                                <span class="grid-nav__desc">Notification</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">DSQL Query Console</span>
                                <span class="grid-nav__desc">Utility</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">DB Query Console</span>
                                <span class="grid-nav__desc">Utility</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Asset Management</span>
                                <span class="grid-nav__desc">Administration</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Application Logs</span>
                                <span class="grid-nav__desc">Utility</span>
                            </a>
                        </div>
                        <div class="grid-nav__row">
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Rules Engine</span>
                                <span class="grid-nav__desc">Developer Module</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Script Console</span>
                                <span class="grid-nav__desc">Developer Module</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Raw Messages</span>
                                <span class="grid-nav__desc">Utility</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Mongo Query Console</span>
                                <span class="grid-nav__desc">Utility</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Firmware Management</span>
                                <span class="grid-nav__desc">Administration</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Login As</span>
                            </a>
                        </div>
                        <div class="grid-nav__row">
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Code Editor</span>
                                <span class="grid-nav__desc">Developer Module</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Search Query Console</span>
                                <span class="grid-nav__desc">Utility</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Platform Templates</span>
                                <span class="grid-nav__desc">Developer Module</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Cassandra Query Console</span>
                                <span class="grid-nav__desc">Developer Module</span>

                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Geofence Management</span>
                                <span class="grid-nav__desc">Administration</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Billing Management</span>
                                <span class="grid-nav__desc">Administration</span>

                            </a>
                        </div>
                        <div class="grid-nav__row">
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Amazon Alexa</span>
                                <span class="grid-nav__desc">Plugin</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Google Voice</span>
                                <span class="grid-nav__desc">Plugin</span>
                            </a>
                            <a href="#" class="grid-nav__item">
                                <img src="/images/menu/asset.png"  />
                                <span class="grid-nav__title">Plugin Management</span>
                                <span class="grid-nav__desc">Administration</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
