<div class="aside-menu-wrapper grid__item grid__item--fluid" id="aside_menu_wrapper">
    <div id="aside_menu" class="aside-menu  aside-menu--dropdown " data-menu-vertical="1" data-menu-dropdown="1"
         data-menu-scroll="0">
        <ul class="menu__nav ">
            <li class="menu__item  menu__item--submenu menu__item--submenu-fullheight menu__item--open menu__item--here"
                aria-haspopup="true" data-menu-submenu-toggle="click"
                data-menu-dropdown-toggle-class="aside-menu-overlay--on"><a href="javascript:;"
                                                                            data-toggle="tooltip" title="Developer Modules" data-placement="left"
                                                                            class="menu__link menu__toggle"><i
                    class="menu__link-icon flaticon-layer"></i><span class="menu__link-text">Developer Modules</span><i
                    class="menu__ver-arrow la la-angle-right"></i></a>
                <div class="menu__submenu "><span class="menu__arrow"></span>
                    <div class="menu__wrapper">
                        <ul class="menu__subnav">
                            <li class="menu__item  menu__item--parent menu__item--submenu-fullheight"
                                aria-haspopup="true"><span class="menu__link"><span
                                    class="menu__link-text">Developer Modules</span></span></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                    class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                    class="menu__link-text">Dashboard Editor Studio</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                    class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                    class="menu__link-text">Mobile Editor Studio</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                    class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                    class="menu__link-text">Message Definition</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                    class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                    class="menu__link-text">Record Definition</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                    class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                    class="menu__link-text">DB Table</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                    class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                    class="menu__link-text">SQL Table</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                    class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                    class="menu__link-text">Script Console</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                    class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                    class="menu__link-text">Rules Engine</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                    class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                    class="menu__link-text">Code Editor</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                    class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                    class="menu__link-text">Events & Notification</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                    class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                    class="menu__link-text">Plaform Templates</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                    class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                    class="menu__link-text">SQL Templates</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                    class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                    class="menu__link-text">DB Templates</span></a></li>
                        </ul>
                    </div>
                </div>
            </li>


            <li class="menu__item" >
                <a href="javascript:;" class="menu__link" data-toggle="tooltip"
                   title="Events & Notifications" data-placement="left">
                    <i class="menu__link-icon flaticon-bell"></i><span class="menu__link-text">Events & Notifications</span>
                </a>
            </li>


            <li class="menu__item  menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="click"
                data-menu-link-redirect="1"><a target="_blank" href="javascript:;" class="menu__link menu__toggle"
                                               data-toggle="tooltip" title="Utilities" data-placement="left"><i
                    class="menu__link-icon fa fa-folder-open"></i><span class="menu__link-text">Utilities</span><i
                    class="menu__ver-arrow la la-angle-right"></i></a>
                <div class="menu__submenu "><span class="menu__arrow"></span>
                    <ul class="menu__subnav">
                        <li class="menu__item  menu__item--parent menu__item--bottom" aria-haspopup="true"
                            data-menu-link-redirect="1"><span class="menu__link"><span
                                class="menu__link-text">Utilities</span></span></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">File Storage</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Elastic Search Query</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">DB Query</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Ignite SQL Query</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Raw Messages</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Event Logs</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Application Logs</span></a></li>
                    </ul>
                </div>
            </li>


            <li class="menu__item  menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="click"
                data-menu-link-redirect="1"><a target="_blank" href="javascript:;" class="menu__link menu__toggle"
                                               data-toggle="tooltip" title="Plugins" data-placement="left"><i
                    class="menu__link-icon fa fa-microphone-alt"></i><span class="menu__link-text">Plugins</span><i
                    class="menu__ver-arrow la la-angle-right"></i></a>
                <div class="menu__submenu "><span class="menu__arrow"></span>
                    <ul class="menu__subnav">
                        <li class="menu__item  menu__item--parent menu__item--bottom" aria-haspopup="true"
                            data-menu-link-redirect="1"><span class="menu__link"><span
                                class="menu__link-text">Plugins</span></span></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Amazon Alexa</span></a></li>
                    </ul>
                </div>
            </li>


            <li class="menu__item  menu__item--submenu menu__item--bottom" aria-haspopup="true" data-menu-submenu-toggle="click"
                data-menu-link-redirect="1"><a target="_blank" href="javascript:;" class="menu__link menu__toggle"
                                               data-toggle="tooltip" title="Administration" data-placement="left"><i
                    class="menu__link-icon flaticon-squares-2"></i><span class="menu__link-text">Administration</span><i
                    class="menu__ver-arrow la la-angle-right"></i></a>
                <div class="menu__submenu "><span class="menu__arrow"></span>
                    <ul class="menu__subnav">
                        <li class="menu__item  menu__item--parent menu__item--bottom" aria-haspopup="true"
                            data-menu-link-redirect="1"><span class="menu__link"><span
                                class="menu__link-text">Administration</span></span></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">User Management</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Device Management</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Firmware Management</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Asset Management</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Geofence Management</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Plugin Management</span></a></li>
                    </ul>
                </div>
            </li>



            <li class="menu__item  menu__item--submenu menu__item--bottom-2" aria-haspopup="true"
                data-menu-submenu-toggle="click">
                <a href="javascript:;" class="menu__link menu__toggle" data-toggle="tooltip" title="Billing" data-placement="left">
                    <i class="menu__link-icon flaticon-event-calendar-symbol"></i><span class="menu__link-text">Billing</span>
                    <i class="menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="menu__submenu menu__submenu--up"><span class="menu__arrow"></span>
                    <ul class="menu__subnav">
                        <li class="menu__item  menu__item--parent menu__item--bottom-1" aria-haspopup="true">
                            <span class="menu__link"><span class="menu__link-text">Billing</span></span></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Billing Management</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Invoice</span></a></li>
                    </ul>
                </div>
            </li>

            <li class="menu__item  menu__item--submenu menu__item--bottom-1" aria-haspopup="true"
                data-menu-submenu-toggle="click">
                <a href="javascript:;" class="menu__link menu__toggle" data-toggle="tooltip" title="Help" data-placement="left">
                    <i class="menu__link-icon flaticon2-help"></i><span class="menu__link-text">Help</span>
                    <span class="menu__link-badge">
                        <span class="badge badge--brand badge--rounded">2</span>
                    </span>
                    <i class="menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="menu__submenu menu__submenu--up"><span class="menu__arrow"></span>
                    <ul class="menu__subnav">
                        <li class="menu__item  menu__item--parent menu__item--bottom-1" aria-haspopup="true">
                            <span class="menu__link"><span class="menu__link-text">Help</span></span></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Support</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Blog</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Documentation</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">API Documentation</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Video Tutorials</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Pricing</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Terms & Conditions</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Privacy & Policy</span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>