<div class="subheader   grid__item" id="subheader">
    <div class="subheader__main">
        <h3 class="subheader__title">
           Message Definition <small></small>
        </h3>
    </div>
    <div class="subheader__toolbar">
        <div class="subheader__wrapper">
            <div class="dropdown dropdown-inline">
                <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="svg-icon svg-icon--brand svg-icon--md">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect id="bound" x="0" y="0" width="24" height="24"/>
                            <circle id="Oval-5" fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                            <rect id="Rectangle-9" fill="#000000" x="11" y="10" width="2" height="7" rx="1"/>
                            <rect id="Rectangle-9-Copy" fill="#000000" x="11" y="7" width="2" height="2" rx="1"/>
                        </g>
                    </svg>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="nav">
                        <li class="nav__section nav__section--first">
                            <span class="nav__section-text">Documentation:</span>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">
                                <i class="nav__link-icon flaticon2-help"></i>
                                <span class="nav__link-text">Help Docs</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content  grid__item grid__item--fluid" id="content">

    <div class="row">
        <div class="col-xl-12">
            <div class="portlet">
                <div class="portlet__head">
                    <div class="portlet__head-label">
                        <h3 class="portlet__head-title">
                            Total Message Definition: <span class="messageCount"></span>
                        </h3>
                    </div>
                    <div class="portlet__head-toolbar">
                        <div class="portlet__head-actions">
                            <a href="#" class="btn btn-label-brand btn-sm btn-bold">
                                <i class="fa fa-plus-square"></i>  Define Message
                            </a>
                            <a href="#" class="btn btn-label-success btn-sm btn-bold">
                                <i class="fa fa-file-export"></i>  Export Message
                            </a>
                            <a href="#" class="btn btn-label-success btn-sm btn-bold">
                                <i class="fa fa-file-import"></i>  Import Message
                            </a>
                            <a href="#" class="btn btn-label-brand btn-sm btn-bold">
                                <i class="fa fa-redo"></i>  Refresh
                            </a>

                        </div>
                    </div>
                </div>
                <div class="portlet__body">

                </div>
            </div>
            
        </div>
    </div>
</div>

<script type="text/javascript" src="/controllers/message-definition.js"></script>
