.initialContent{
    min-height: 350px !important;
}

.licenseText{
    line-height: 2.5rem;
    text-align: center;
}

.cpyBtn{
    cursor: pointer;
}

.header-mobile__logo img{
    width: 40px;
}

.aside__brand-logo img{
    width: 60px;
}

.topHeaderMenu .menu__link-text i{
    margin-right: 5px;
}

.homeScreen img{
    width: 50px !important;
}

.homeScreen .grid-nav__title{
    font-size: 1rem !important;
}

.homeScreen .grid-nav__item{
    padding: 2rem !important;
    border:0px !important;
}
